@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@layer components {
  .max-containter {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .padding-x {
    @apply sm:px-8 px-4;
  }
  .padding-y {
    @apply sm:py-12 py-6;
  }

  .padding-l {
    @apply sm:pl-8 pl-4;
  }

  .padding-r {
    @apply sm:pr-8 pr-4;
  }

  .padding-t {
    @apply sm:pt-12 pt-6;
  }

  .padding-b {
    @apply sm:pb-12 pb-6;
  }
}
